## ARQUIVO DE DOCUMENTAÇÃO!
# Configurações do servidor
SERVER_PORT=

# Configurações do banco de dados
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Configuração do JTW
JTW_SECRET=
JWT_EXPIRES_IN=